argon2-cffi==21.1.0
asgiref==3.4.1
attrs==21.2.0
boltons==21.0.0
boto3==1.18.48
botocore==1.21.48
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
config-client==0.12.0
Django==3.2.6
django-cors-headers==3.8.0
django-filter==2.4.0
django-prometheus==2.1.0
djangorestframework==3.12.4
dnspython==2.1.0
face==20.1.1
glom==20.11.0
gunicorn==20.1.0
idna==3.2
ifaddr==0.1.7
jmespath==0.10.0
Markdown==3.3.4
Pillow==8.3.2
prometheus-client==0.11.0
psycopg2-binary==2.9.1
py-eureka-client==0.10.0
pycparser==2.20
python-dateutil==2.8.2
pytz==2021.1
qrcode==7.3.1
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.6
